[Desktop Entry]
Categories=Gaming;
Exec=~/.GermanBread/windows-reboot/windows_reboot.sh
GenericName=Reboot into Windows
Icon=windows10_reboot.png
Name=Reboot to Windows
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
Actions=update;uninstall;reboot

[Desktop Action update]
Name=Update
Exec=~/.GermanBread/windows-reboot/windows_reboot.sh -up

[Desktop Action uninstall]
Name=Uninstall
Exec=~/.GermanBread/windows-reboot/windows_reboot.sh -un

[Desktop Action reboot]
Name=Reboot
Exec=~/.GermanBread/windows-reboot/windows_reboot.sh -r