[Desktop Entry]
Categories=Gaming;
Exec=~/.GermanBread/vm-starter/windows_vm_starter.sh
GenericName=Starts your Windows 10 Virtual Machine
Icon=windows10.png
Name=Windows 10 VM
StartupNotify=true
Terminal=false
Type=Application
Version=1.1
Actions=fullscreen;update;uninstall;

[Desktop Action fullscreen]
Name=Full-screen
Exec=~/.GermanBread/vm-starter/windows_vm_starter.sh -fs

[Desktop Action update]
Name=Update
Exec=~/.GermanBread/vm-starter/windows_vm_starter.sh -up

[Desktop Action uninstall]
Name=Uninstall
Exec=~/.GermanBread/vm-starter/windows_vm_starter.sh -un