[Desktop Entry]
Categories=Gaming;
Exec=~/.GermanBread/vm-starter/windows_vm_starter.sh
GenericName=Starts your Windows 10 Virtual Machine
Icon=~/.GermanBread/vm-starter/windows10.png
Name=Windows 10 VM
StartupNotify=false
Terminal=false
Type=Application
Version=1
Actions=fullscreen;

[Desktop Action fullscreen]
Name=Full-screen mode
Exec=~/.GermanBread/vm-starter/windows_vm_starter.sh -fs
